// @font-face {
//   font-family: 'Lato';
//   src: local('Lato'),
//   url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
// }
// @font-face {
//   font-family: 'Lato Italic';
//   src: local('Lato Italic'),
//   url('assets/fonts/Lato/Lato-Italic.ttf') format('truetype');
// }

@font-face {
  font-family: 'Ubuntu Light';
  font-weight: 300;
  src: url('assets/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Regular';
  font-weight: 400;
  src: url('assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Regular Italic';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Medium';
  font-weight: 500;
  src: url('assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Medium Italic';
  font-style: italic;
  font-weight: 500;
  src: url('assets/fonts/Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Bold';
  font-weight: 700;
  src: url('assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '@/assets/styles/variables';

.app {
  // Large devices (desktops, less than 1200px)
  @include media-breakpoint-down(lg) {
    font-size: 11pt;
  }
  // Medium devices (tablets, less than 992px)
  @include media-breakpoint-down(md) {
    font-size: 12pt;
  }
  // Small devices (landscape phones, less than 768px)
  @include media-breakpoint-down(sm) {
    font-size: 12pt;
  }
  // Extra small devices (portrait phones, less than 576px)
  @include media-breakpoint-down(xs) {
    font-size: 12pt;
  }

  // No media query necessary for xl breakpoint as it has no upper bound on its width
  background: map-get($other-colors, 'white');
  color: map-get($other-colors, text-default);
  font-family: 'Ubuntu Regular', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em;
  overflow-x: hidden;
}

.container {
  // Large devices (desktops, less than 1200px)
  // @include media-breakpoint-down(lg) {
  // }
  // Medium devices (tablets, less than 992px)
  // @include media-breakpoint-down(md) {
  // }
  // Small devices (landscape phones, less than 768px)
  // @include media-breakpoint-down(sm) {
  // }
  // Extra small devices (portrait phones, less than 576px)
  @include media-breakpoint-down(xs) {
    max-width: calc(100% - 3.375em);
    padding: 2em 0;
    width: 100%;
  }

  // No media query necessary for xl breakpoint as it has no upper bound on its width
  margin: 0 auto;
  max-width: calc(100% - 4.5em);
  padding: 6em 0 4em;
  width: 70%;
  // width: 45em;
}

a {
  border-bottom: solid 2px lighten(map-get($theme-colors, primary), 15%);
  color: inherit;
  transition: color .2s ease-in-out, border-color .2s ease-in-out;
  text-decoration: none;

  &:hover {
    border-bottom-color: transparent;
    color: map-get($theme-colors, primary);
    text-decoration: none;
  }

  &.alt {
    border-bottom: solid 1px map-get($other-colors, link-underline-default);
    color: map-get($other-colors, text-alt);
    transition: color .2s ease-in-out, border-color .2s ease-in-out;

    &:hover {
      border-bottom-color: transparent;
      color: map-get($other-colors, 'white');
      text-decoration: none;
    }
  }
}

p {
  margin: 0 0 2.25em;
}

.btn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  white-space: nowrap;

  &.fit {
    width: 100%;
  }

  &.small {
    font-size: .8em;
  }
}

@each $colorname, $color in $theme-colors {
  .btn-#{$colorname} {
    background-color: $color;
    color: map-get($other-colors, 'white');

    &:hover {
      background-color: map-get($other-colors, 'white');
      box-shadow: inset 0 0 0 2px $color;
      color: $color;
    }
  }

  .btn-#{$colorname}-alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $color;
    color: $color;

    &:hover {
      background-color: $color;
      border-color: $color;
      color: map-get($other-colors, 'white');
    }
  }
}

input {
  height: 2.75em;
  padding: 0 1em;
}

input,
textarea {
  // Large devices (desktops, less than 1200px)
  @include media-breakpoint-down(lg) {
    font-size: 11pt;
  }
  // Medium devices (tablets, less than 992px)
  @include media-breakpoint-down(md) {
    font-size: 12pt;
  }
  // Small devices (landscape phones, less than 768px)
  @include media-breakpoint-down(sm) {
    font-size: 12pt;
  }
  // Extra small devices (portrait phones, less than 576px)
  @include media-breakpoint-down(xs) {
    font-size: 12pt;
  }

  // No media query necessary for xl breakpoint as it has no upper bound on its width
  appearance: none;
  border: solid 2px map-get($other-colors, 'text-default');
  border-radius: 5px;
  color: inherit;
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em;
  outline: 0;
  text-decoration: none;
  transition: box-shadow .2s linear;
  width: 100%;

  &::placeholder {
    color: lighten(map-get($other-colors, 'text-default'), 30%);
  }

  &:focus,
  &:hover {
    background-color: transparent;
    // sass-lint:disable no-color-literals
    box-shadow: 0 0 0 .25rem rgba(map-get($other-colors, 'text-default'), 25%);
    color: map-get($other-colors, 'text-default');
    outline: 0;
  }
}

.shadow {
  // sass-lint:disable no-color-literals
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .35);
}

.signature,
.author {
  img {
    // sass-lint:disable no-color-literals
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, .55);
  }
}

.image {
  border: 0;
  border-radius: 5px;
  display: inline-block;
  position: relative;

  img {
    border-radius: 5px;
    display: block;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet-active {
    background-color: map-get($theme-colors, primary);
  }
}

.main {
  section {
    &:not(:first-child) {
      border-top: solid 6px map-get($other-colors, border-default);
    }
  }
}

header {
  h2 {
    margin: 0 0 1.6875em;
  }
}

h1 {
  // Large devices (desktops, less than 1200px)
  // @include media-breakpoint-down(lg) {
  //   font-size: 3.5em;
  // }
  // Medium devices (tablets, less than 992px)
  // @include media-breakpoint-down(md) {
  //   font-size: 3.5em;
  // }
  // Small devices (landscape phones, less than 768px)
  // @include media-breakpoint-down(sm) {
  //   font-size: 3.5em;
  // }
  // Extra small devices (portrait phones, less than 576px)
  @include media-breakpoint-down(xs) {
    font-size: 2.5em;
  }

  // No media query necessary for xl breakpoint as it has no upper bound on its width
  color: map-get($theme-colors, primary);
  font-family: 'Ubuntu Bold';
  font-size: 3.5em;
  line-height: 1.5em;
  margin: 0 0 .5625em;
}

h2 {
  // Large devices (desktops, less than 1200px)
  // @include media-breakpoint-down(lg) {
  // }
  // Medium devices (tablets, less than 992px)
  // @include media-breakpoint-down(md) {
  // }
  // Small devices (landscape phones, less than 768px)
  // @include media-breakpoint-down(sm) {
  // }
  // Extra small devices (portrait phones, less than 576px)
  @include media-breakpoint-down(xs) {
    font-size: 1.5em;
  }

  // No media query necessary for xl breakpoint as it has no upper bound on its width
  color: map-get($other-colors, text-default);
  font-family: 'Ubuntu Medium';
  font-size: 1.75em;
  line-height: 1.5em;
  margin: 0 0 .5625em;
  position: relative;
}

.marker-cluster-small {
	background-color: lighten(map-get($theme-colors, primary), 0%);
	}
.marker-cluster-small div {
	background-color: white;
	}

.marker-cluster-medium {
	background-color: darken(map-get($theme-colors, primary), 15%);
	}
.marker-cluster-medium div {
	background-color: white;
	}

.marker-cluster-large {
	background-color: darken(map-get($theme-colors, primary), 30%);
	}
.marker-cluster-large div {
	background-color: white;
	}
  .marker-cluster span {
  	font-weight: 900;
  	}
