$color-white: #fff;
$color-text-default: #777;
$color-text-default-lighter: #c0c0c0;
$color-text-alt: #d2f2e9;
$color-link-underline-default: #e4e4e4;
$color-border-default: #f4f4f4;
$color-border-default-darker: #d4d4d4;
$color-primary-lightest: #95e4ce;
$color-primary-lighter: #78e4c6;
$color-primary-default: #4acaa7;
$color-primary-darker: #509884	;
$color-primary-darkest: #188366;
$color-accent-lightest: #ffc6a6;
$color-accent-lighter: #ffb286;
$color-accent-default: #ff985d;
$color-accent-darker: #bf8564;
$color-accent-darkest: #a64f1e;
