$other-colors: (
  'white': #fff,
  'text-default': #777,
  'text-default-lighter': #c0c0c0,
  'text-alt': #d2f2e9,
  'link-underline-default': #e4e4e4,
  'border-default': #f4f4f4,
  'border-default-darker': #d4d4d4,
);

$theme-colors: (
  'primary': #4acaa7,
  'secondary': #989898,
  'accent': #ff985d,
);

@mixin shorten-text($strings-number, $line-height) {
  // sass-lint:disable no-vendor-prefixes
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $strings-number;
  display: -webkit-box;
  height: $strings-number * $line-height;
  line-height: $line-height;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}
